---
layout: default
---

<div class="content">

  <div id="description">
    {% include me.html %}
  </div>
</div>

<div id="accordion">
  <!-- <h1 id="talks" class="panel">Talks</h1>
  <div class="panel-content">
    <ul class="item">
        <li class="item"><p>Below is a talk on:
          <em><a href="http://dx.doi.org/10.31234/osf.io/rybh9">How computational modelling can force theory building in psychological science</a></em>.
          More videos of <a href="https://www.youtube.com/channel/UCr1oZGQ5f6tP5wEKUF7SLNw/playlists">my talks can be found on YouTube</a>.</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/IhlF0B_IQJE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </li>

    </ul>
    <h2>Other selected talks</h2>
    <ul class="item">
      <li class="item"><b>Guest, O.</b> (2018).
        <span class="title"><a href="https://figshare.com/articles/Women_and_gender_minorities_in_computational_cognitive_science_Sharing_experiences/6871610">Women and gender minorities in computational cognitive science: Sharing experiences</a></span>.
        <em><a href="http://womenincogsci.org/announcement/wics-workshop-cognitive-science-society-meeting-madison-wisconsin">Women in Cognitive Science</a> (<a href="http://www.cognitivesciencesociety.org/conference/cogsci-2018/">Cognitive Science Conference 2018</a>)</em>.
        <div class="small-icons"><a href="https://figshare.com/articles/Women_and_gender_minorities_in_computational_cognitive_science_Sharing_experiences/6871610"><i class="ai ai-figshare" aria-hidden="true"></i></a></div>
      </li>

      <li class="item"><b>Guest, O.</b> (2018).
        <span class="title"><a href="https://figshare.com/articles/Varieties_of_Reproducibility_in_Empirical_and_Computational_Domains/6818018">Varieties of Reproducibility in Empirical and Computational Domains</a></span>.
        <em><a href="https://mltrain.cc/events/enabling-reproducibility-in-machine-learning-mltrainrml-icml-2018/">Enabling Reproducibility in Machine Learning MLTRAIN@RML</a> (<a href="https://icml.cc/">ICML 2018</a>)</em>.
        <div class="small-icons"><a href="https://figshare.com/articles/Varieties_of_Reproducibility_in_Empirical_and_Computational_Domains/6818018"><i class="ai ai-figshare" aria-hidden="true"></i></a></div>
      </li>
    </ul>
  </div> -->
  <h1 id="pr-pubs" class="panel">Publications</h1>
  <div class="panel-content">
    {% include loop_publications.html %}
  </div>
  
  <!-- <h1 id="code" class="panel">Code</h1>
  <div class="panel-content">
    {% capture code %}{% include code.md %}{% endcapture %}
    {{ code | markdownify }}
  </div> -->
      

<h1 id="press" class="panel">Press Coverage</h1>
  <div class="panel-content">
    <ul class="item">
      <li class="item"><span class="title"></span><a href="https://www.nature.com/articles/d41586-020-00160-y">The battle for ethical AI at the world’s biggest machine-learning conference</a></li>
      <li class="item"><span class="title"></span><a href="https://www.siliconrepublic.com/machines/mit-database-racist-misogynist-discovery-abeba-birhane">80m images used to train AI pulled after researchers find string of racist terms</a></li>
      <li class="item"><span class="title"></span><a href="https://www.irishtimes.com/culture/who-is-more-racist-sexist-and-biased-you-or-your-computer-1.4408555">Who is more racist, sexist and biased: You or your computer?</a></li>
      <li class="item"><span class="title"></span><a href="https://www.siliconrepublic.com/machines/abeba-birhane-ucd-digital-colonialism">How the rise of ‘digital colonialism’ in the age of AI threatens Africa’s prosperity</a></li>
      <li class="item"><span class="title"></span><a href="https://www.siliconrepublic.com/people/stem-influencers-science-week-2020">Bright sparks of STEM: 19 influencers you need to know about</a></li>
      <li class="item"><span class="title"></span><a href="https://www.independent.ie/business/irish/contaminated-ai-databases-are-taken-down-after-ucd-work-39365275.html">'Contaminated' AI databases are taken down after UCD work</a></li>
      <li class="item"><span class="title"></span><a href="https://venturebeat.com/2020/07/01/mit-takes-down-80-million-tiny-images-data-set-due-to-racist-and-offensive-content/">MIT takes down 80 Million Tiny Images data set due to racist and offensive content</a></li>
      <li class="item"><span class="title"></span><a href="https://www.theregister.com/2020/07/01/mit_dataset_removed/">MIT apologizes, permanently pulls offline huge dataset that taught AI systems to use racist, misogynistic slurs</a></li>
      <li class="item"><span class="title"></span><a href="https://www.irishtimes.com/news/science/getting-to-the-heart-of-machine-learning-and-complex-humans-1.4330238">Getting to the heart of machine learning and complex humans</a></li>
   
    </ul>
  </div>

  <h1 id="talks" class="panel">Selected Talks, Panels & Podcasts</h1>
  <div class="panel-content">
    <ul class="item">
      <li class="item"><span class="title"></span><a href="http://videos.ncrafts.io/video/338449961">In defence of uncertainty</a></li>
      <li class="item"><span class="title"></span><a href="https://hashtagcauseascene.com/podcast/abeba-birhane/">#causeascene</a></li>
      <li class="item"><span class="title"></span><a href="https://www.greaterthancode.com/gathering-data-in-machine-learning">Greater Than Code: Gathering Data in Machine Learning</a></li>
      <li class="item"><span class="title"></span><a href="https://twimlai.com/twiml-talk-348-algorithmic-injustices-and-relational-ethics-with-abeba-birhane/">The TWIML AI Podcast: Algorithmic Injustices and Relational Ethics</a></li>
      <li class="item"><span class="title"></span><a href="https://podcasts.apple.com/us/podcast/robot-rights-exploring-algorithmic-colonization-abeba/id1505229145?i=1000475904518/">Robot Rights?</a></li>
      #causeascene
      <li class="item"><span class="title"></span><a href="https://slideslive.com/38923001/camera-and-lidar-fusion-for-vehicle-detection-in-lowradiance-scenes">Relational Ethics (startes at 20:30 into the presentation)</a></li>
      <li class="item"><span class="title"></span><a href="https://vimeo.com/425040491/56bd75723d">In Defence of Indeterminability in the Age of Machine Learning</a></li>
    </ul>
  </div>
  
</div>

<h1 id="o-pubs"><a href="https://abebabirhane.wordpress.com/">Blog</a></h1>

