<div class="portfolio-container">
<h3 style="font-size: 1rem; text-align: center;">
Drop a comment below
<a
  href="//twitter.com/Abebab"
  title="Follow me on Twitter"
  style="text-decoration: none"
>
  or follow the conversation on Twitter
  <i class="fab fa-twitter"></i>
</a>
</h3>
  <div class="hero">
    <!-- <img src="https://abebabirhane.github.io/images/birhane.jpg" alt="Abeba Birhane" class="hero--image">-->
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <lottie-player
      src="https://assets1.lottiefiles.com/packages/lf20_96bovdur.json"
      background="transparent"
      speed="1"
      style="width: 300px; height: 300px"
      loop
      autoplay
    ></lottie-player>
    <div class="booking">
     
      <div id="replybox"></div>
    </div>
  </div>

 
</div>
