<p>
<img id="me" src="https://pbs.twimg.com/profile_images/1321061625454014465/JVgZig6c_400x400.jpg">
</p>

<p>
I am a cognitive science PhD researcher at the <a href="https://csl.ucd.ie/">Complex Software Lab<a href="https://www.ucd.ie/cs/"> in the school of computer science </a> at <a href="https://www.ucd.ie/"> University college Dublin </a>, Ireland. 

My interdisciplinary research sits at the intersection of complex adaptive systems, machine learning, and critical race studies. On the one hand, complexity science tells us that people, as complex adaptive systems are inherently indeterminable. On the other, machine learning systems that claim to predict human behaviour are becoming ubiquitous in all spheres of social life. 
  Machine prediction, when deployed to high-stake situations, not only is erroneous but also presents real harm to those at the margins of society. I examine questions of such nature in my PhD. 
 
  </p>
  <p>
    I co-lead the <a href="https://www.md4sg.com/workinggroups/data.html"> Data Economies and Data Governance </a> working group, one of the <a href="http://md4sg.com/index.html"> Mechanism Design for Social Good (MD4SG)</a> working groups. 
  
 I am currently working as a Research Scientist intern at DeepMind with the Ethics Research team. 
  
 I have numerous ongoing projects and I look forward to sharing them as they come to completion. 
    As well as my full-time intern position at DeepMind, I am also currently in the final year of my PhD which means I am unable to accept invitations to speak at conferences, workshops, or similar events. 
  
</p>


