<div class="portfolio-container">
  <div class="hero">
  <div class="hero--image">
    <img
      src="/images/Abebaheroc_outline.png"
      alt="Abeba Birhane"
    />
    </div>
    <div class="hero--bio">
      <!-- <h1>Abeba Birhane</h1> 
    <h1><strong>Cognitive science PhD researcher</strong></h1>-->
      <!--<p >I am a cognitive science PhD researcher at the Complex Software Lab in the school of computer science at University college Dublin , Ireland. My interdisciplinary research sits at the intersection of complex adaptive systems, machine learning, and critical race studies. -->
      <p class="basic-info basic-info1">
        I am a cognitive scientist researching AI accountability. This encompasses from 
        systematic examination of the AI ecology and governance structures, to execution of 
        algorithmic audits. Central to my research is challenging and dismantling societal and 
        historical inequalities and power asymmetries; holding responsible bodies accountable; 
        and paving the way for a future marked by just and equitable AI systems that work for all. I recently
        finished my PhD, where I explored the challenges and pitfalls of
        automating human behaviour through critical examination of existing
        computational models and audits of large scale datasets. You can
        <a href="https://arxiv.org/abs/2206.04179" target="_blank">
          read my thesis here</a
        >.
      </p>

      <p class="basic-info">
        I am the founder and principal investigator of the 
        <a href="https://aial.ie/" target="_blank">
          AI Accountability Lab (AIAL)</a
        > housed at the School of Computer Science and Statistics in
        <a
          href="https://www.tcd.ie/"
          target="_blank"
        >
          Trinity College Dublin, Ireland</a
        >.
      </p>
    </div>
  </div>
</div>
